@page "/locpass"
@model LocPassModel

<h1>Local passwords</h1>

<p><a asp-page="/EditLocPass" asp-route-id="0">Create new</a></p>

<div id="tableContainer">
    <partial name="Shared/_PassTablePartial" />
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/tableUpdateHub")
            .build();

        connection.on("RefreshTable", function () {
            console.log("Received RefreshTable message from server.");
            var table = $('#locpassTable').DataTable();
            table.ajax.reload();
        });

        connection.start().catch(err => console.error(err.toString()));
    </script>
}
