@page "/locpass"
@model LocPassModel

<h1>Local passwords</h1>

<p><a asp-page="/EditLocPass" asp-route-id="0">Create new</a></p>

<div id="tableContainer">
    @if (Model.Passes == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <partial name="Shared/_PassTablePartial" model="Model.Passes" />
    }
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/tableUpdateHub")
            .build();

        connection.on("RefreshTable", function () {
            console.log("Received RefreshTable message from server.");
            debugger;
            refreshTableData();
        });

        connection.start().catch(err => console.error(err.toString()));

        function refreshTableData() {
            fetch('?handler=TableData')
                .then(response => response.text())
                .then(html => {
                    document.getElementById('tableContainer').innerHTML = html;
                });
        }
    </script>
}
